/shared
/app/upgrade/
/app/languages/
/app/cache/
.DS_Store

/node_modules
/package-lock.json
/composer.lock
/mix-manifest.json

/wp-config.php

/app/themes/vanaf1979/public
/app/plugins
/wp
/vendor

/app/themes/vanaf1979/_old_themefiles