/*
-------------------------------------
--  VA70 UTIL CLASSES
-------------------------------------
*/

.va-grid-full {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
}

.va-grid-inner {
  padding: 0px 20px 0px 20px;
  margin: auto;
}

.va-grid-center {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  padding: 0px 20px 0px 20px;
  margin: 0px auto 0px auto;;
}

.va-grid-center-pad {
  max-width: 1080px;
  padding: 0px 0px 0px 0px;
  margin: auto;
}


/* - Clear all preceding ellements. -  */
.va-clear { display: block; height: 0px; line-height: 0px; clear: both; }
/* --  */

/* - Clear a ellement around its childeren. -  */
.va-clearfix:after { content: ""; display: table; clear: both; }
/* --  */
