
.home-projects {

}

    .home-projects .header {
        padding: 30px 0px 30px 0px;
        text-align: center;
    }   
        .home-projects .header h2 {
            font-size: 40px;
            text-align: center; 
            margin: 0px auto 5px auto;
        }
            .home-projects .header h2:after {
                content: "";
                display: block;
                width: 100px;
                margin: 15px auto 10px auto;
                border-bottom: solid 1px silver;
            }

        .home-projects .header p {
            margin: 0px auto 0px auto;
            font-size: 16px;
            text-align: center;
        }


    .home-projects .project {
        display: flex;
        flex-direction: row-reverse;
        margin: 0px auto 20px auto;
    }
    .home-projects .project:nth-child(2n) {
        display: flex;
        flex-direction: row;
    }
    .home-projects .project article {
        margin: 0px 0px 20px 0px;
    }
        .home-projects .project .image img {
            display: block;
            width: 100%;
            height: auto;
            border-radius: 5px;
        }

        .home-projects .project .text {

        }
            .home-projects .project .text article {
                margin: 40px 30px 30px 30px;
            }   
                .home-projects .project .text article h3 {
                    font-size: 22px;
                    line-height: 32px;
                }
                .home-projects .project .text article p {
                    font-size: 16px;
                    line-height: 26px;
                    margin: 0px 0px 20px 0px;
                }
                .home-projects .project .text article a {
                    display: inline-block;
                    padding: 7px 15px 6px 15px;
                    margin: 0px 0px 0px 0px;
                    // background: #ffffff;
                    border: solid 1px #00659b;
                    color: #00659b;
                    border-radius: 5px;
                    transition: all 0.2s ease;
                } 
                    .home-projects .project .text article a:hover {
                        background: #00659b;
                        color: #ffffff;
                        text-decoration: none;
                    }