

.home-graphic {

}
    .home-graphic .jarallax-content {
        background: rgba( 0 , 101 , 155 , 0.5 ); height: 100%;
    }

    .home-graphic .text {
        text-align: center;
    }
        .home-graphic h2 {
            padding: 115px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
            font-size: 24px;
            color: #ffffff;
        }
        .home-graphic p {
            font-size: 16px;
            color: #dddddd;
        }