

.writing {
    margin: 20px auto 60px auto;
}
    .writing article {
        max-width: 800px;
        margin: 0px 40px 0px 0px;
    }

    .writing article .wp-block-coblocks-gist {
        margin: 40px 0px 50px 0px;
    }

    .writing article .wp-block-image {
        margin: 20px 0px 50px 0px;
    }

    .writing .sidebar section {
        margin: 6px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
        border-left: solid 1px #dddddd;
    }
        .writing .sidebar section ul {
            display: inline-block;
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            list-style: none;
            
        }
            .writing .sidebar section ul li {
                margin: 0px 0px 15px 0px;
                padding: 0px 0px 0px 0px;
            }
                .writing .sidebar section ul li a {
                    text-decoration: none;
                }
                    .writing .sidebar section ul li a:hover {
                        text-decoration: underline;
                    }